body { color: #000000; }
p{ font-size: 15px; }

#page { width: 980px;
			margin: 0 auto; }

/*見出し*/
h1 { font-size: 30px;
		color: #8B0000; }
				
h1.member { background-color: #FFE0E0;
							 color: #FF0000;
							 border-color: #FF0000; }
h1.band { background-color: #E0EFFF;
							 color: #0000FF;
							 border-color: #0000FF; }